body{
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: sans-serif;
}

.header{
    color: #F9FAF8;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    flex-shrink: 0;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 35px;
}

a{
    text-decoration: none;
    color: lightgrey;
}

.left-links{
    font-size: 24px;
    font-weight: bold;
}

.right-links{
    font-size: 18px;
}

.hero{
    font-size: 48px;
    color: #F9FAF8;
    font-family: sans-serif;
    font-weight: bold;
}

.section-1{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    height: 500px;
    align-items: center;
}

.left-sect1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 450px;
}

.secondary-hero{
    font-size: 18px;
    color: #F9FAF8;
    padding: 10px 0px;
    font-family: sans-serif;
}

.first-button{
    font-size: 18px;
    padding: 5px 35px;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    border: 0px;
    font-family: sans-serif;
}

.right-sect1{
    background-color: grey;
    color: #F9FAF8;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    padding: 0px 175px;
    height: 275px;
}

.header, .section-1{
    padding: 0 350px
}

.info{
    text-align: center;
    background-color: #F9FAF8;
    font-size: 36px;
    font-weight: bold;
    padding-top: 50px;
}

.section-2{
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 400px;
    text-align: center;
    font-size: 18px;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

.text{
    width: 150px;
    padding-top: 15px;
}

.square{
    display: flex;
    flex-direction: column;
    align-items: center;
}